<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s Profile</title>
</head>
<body>
  <h2>Welcome, {{ user.username }}!</h2>
  <h3>Game History</h3>
  <table>
    <tr>
      <th>Player</th>
      <th>Computer</th>
      <th>Result</th>
      <th>Time</th>
    </tr>
    {% for game in games %}
    <tr>
      <td>{{ game.player_choice.capitalize() }}</td>
      <td>{{ game.computer_choice.capitalize() }}</td>
      <td>{{ game.result }}</td>
      <td>{{ game.timestamp }}</td>
    </tr>
    {% endfor %}
  </table>
  <div>
    <form action="{{ url_for('home') }}" method="GET" class="play-form">
      <button type="submit" class="play-button">Play</button>
    </form>
  </div>
</body>
</html>